/*--------
  Global 
---------*/

main{
    background-color:#DF2935;
    color:#F5F3BB;
    margin: 5% 10% 0;
    border-radius: 1%;
    font-size: 18px;
    padding:25px;
  }
  
  h1,h2{
    color:#86BA90;
  }
  
  p{
    font-size: 1.2em;
  }
  
  figure{
    background-color:white;
    width:23%;
    padding-top:5px;
    position:relative;
    left:400px;
    border-radius:1%;
  }
  ul{
    margin:10px 20%;
    text-align:left;
  }
  