@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@font-face {
  font-family: "Digital-7";
  src: url("./digital-7.regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC,
    U+A830-A839, U+A8E0-A8FF;
}

body {
  background-color: #64db88;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: #fff;
  height: 500px;
  width: 500px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 0 0 3px #e78267;
  border-radius: 50%;
}

.frame {
  display: flex;
  gap: 3px;
}

h1 {
  font-weight: 500;
  color: #e28e20;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.hrs,
.min,
.sec,
.ms,
.colon {
  width: 50px;
  height: 50px;
  font-size: 60px;
  text-align: center;
  line-height: 50px;
  color: #a5062d;
  font-family: "Digital-7";
}
.colon {
  width: 10px;
  height: 50px;
}
.buttons {
  margin-top: 25px;
}
.buttons button {
  border: none;
  padding: 5px 20px;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
}

.start {
  background-color: #6ab04c;
}
.stop {
  background-color: #30336b;
}
.reset {
  background-color: #eb4d4b;
}

.start-active,
.stop-active {
  pointer-events: none;
  opacity: 0.5;
}
