@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
font-family: 'Roboto', sans-serif;
  display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

canvas {
  border: 2px solid steelblue;
}

.toolbox {
  background-color: rgb(67, 72, 146);
border: 1px solid slateblue;
display: flex;
width: 804px;
justify-content: center;
align-items:center ;
padding: 1rem;
}


.toolbox > * {
  background-color: #fff;
border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 10px;
}


.toolbox > *:last-child {
  margin-left: auto;
}